[submodule "components/BME69xLibrary"]
	path = components/BME69xLibrary
	url = git@github.com:xl9p/BME69xLibrary.git
	branch = main
[submodule "components/BME68xLibrary"]
	path = components/BME68xLibrary
	url = git@github.com:xl9p/BME68xLibrary.git
	branch = modified
[submodule "components/ADS1X15"]
	path = components/ADS1X15
	url = git@github.com:xl9p/ADS1X15.git
	branch = modified
